*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    align-items: center;

}

header a{
    
    color: white;
    text-decoration: none;

}

nav ul{

    display: flex;
    margin-right: 20px;
}

nav ul li{
    margin-right:  20px;
    list-style: none;
}



nav ul li a{
    color: white;
    text-decoration: none;

}

section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    padding: 2%;

    
}
section article{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    flex: 1 0 250px;
    width: auto;
    
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img{
     
     width: 100%;
}

@media screen and (max-width: 670px) {

    

    nav ul{
        flex-direction: column;
    }
    
    nav ul li{
        margin-bottom: 5px;
    }
}